body {
  background-color: #ffe6e6;
  margin: 0px;
}

nav {
  width: 100%;
  height: 70px;
  background-color: #ad88c6;
}

#dropdownMenu {
  width: 70px;
  height: 70px;
  background-color: #ad88c6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

#dropdownMenu:hover {
  background-color: #7469b6;
}

#dropdownMenu:hover .line1, #dropdownMenu:hover .line3 {
  display: none;
}

#dropdownMenu:hover .line2 {
  transform: rotate(45deg);
}
#dropdownMenu:hover .line4 {
  transform: rotate(-45deg);
}

#dropdownLineContainer {
  width: 50%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
}

.dropdownLine {
  width: 70%;
  height: 3px;
  background-color: black;
  transition: all ease .25s;
}

.line4 {
  position: absolute;
}

#dropdownContainer {
  position: absolute;
  width: 50vw;
  height: 50vh;
  background-color: #e9d6d6;
  top: 70px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .25s linear;
}

#dropdownMenu:hover #dropdownContainer {
  visibility: visible;
  opacity: 1;

}

.dropdownItem {
  color: black;
  padding: 15px 25px;
}

.dropdownItem:hover {
  background-color: #f5e4e4;
}

header {
  text-align: center;
}

#bannerImage {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

main {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

#categories {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 35vh;
}

.categoryCard {
  width: 20vw;
  height: 35vh;
  position: relative;
}

.cardImage {
  width: 20vw;
  height: 35vh;
  object-fit: contain;
}

.cardOverlay {
  width: 20vw;
  height: 35vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  object-fit: cover;
  transition: opacity .5s linear;
  cursor: pointer;
}

.cardOverlay:hover {
  opacity: 1;
}
